################################################################################
# Terraform
################################################################################

.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json

################################################################################
# Terraform Variables
################################################################################

terraform.tfvars
*.auto.tfvars

################################################################################
# Secrets & Keys
################################################################################

*.pem
*.key
*.pfx
*.jks

################################################################################
# Oracle
################################################################################

*.dmp
*.trc
*.trm
*.aud

################################################################################
# Ansible
################################################################################

*.retry

################################################################################
# IDE
################################################################################

.vscode/
.idea/

################################################################################
# OS Files
################################################################################

.DS_Store
Thumbs.db