project_name      = "oracle-19c-enterprise-platform-engineering"
environment       = "production"
aws_region        = "us-east-1"

state_bucket_name = "your-terraform-state-bucket"
lock_table_name   = "your-terraform-lock-table"